.divider-line-horizontal {
    border-top: .05rem solid var(--blue);
    background: var(--blue);
}

.divider-line-vertical {
    border-left: 0.116rem solid var(--blue);
}

.divider-circle {
    max-width: .4rem;
}